{{#x-app}}
  <div class="sidebar">
    {{traffic-lights}}
    {{doc-filters}}
  </div>

  <div class="main">
    {{omni-bar}}

    <div class="content">
      {{doc-list}}
      {{x-doc}}
    </div>
  </div>
{{/x-app}}
