{{#x-app}}
  <div class="sidebar">
    {{#ns-toolbar}}
      {{traffic-lights}}
      {{ns-toolbar-button}}
    {{/ns-toolbar}}

    {{doc-filters}}
  </div>

  <div class="main">
    {{#ns-toolbar class="bordered"}}
      {{omni-bar}}
    {{/ns-toolbar}}

    <div class="content">
      {{doc-list}}
      {{x-doc}}
    </div>
  </div>
{{/x-app}}
